@use '../../../shared/styles/colors' as colors;

.sidebar {
  position: fixed;
  top: 60px; // Adjust based on your header height
  width: 180px;
  height: calc(100vh - 60px);
  background-color: colors.$primary-900;
  color: colors.$text-on-primary;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar.collapsed {
  width: 45px;
}

.sidebar-nav {
  padding: 15px 0;
  height: 100%;
  overflow-y: auto;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin: 0;
  padding: 0;
}

.sidebar-nav a {
  display: flex;
  align-items: center;
  padding: 15px;
  color: colors.$text-on-primary;
  text-decoration: none;
  gap: 15px;
  transition: background-color 0.3s;
  white-space: nowrap;
}

.sidebar-nav a:hover,
.sidebar-nav a.active {
  background-color: colors.$primary-700;
}

fa-icon {
  font-size: 1.2em;
  width: 20px;
  text-align: center;
  flex-shrink: 0;
}

// Responsive styles
@media screen and (max-width: 768px) {
  .sidebar {
    transform: translateX(0);
  }

  .sidebar.collapsed {
    transform: translateX(-100%);
    box-shadow: none;
  }
}
