@use '../../../../../shared/styles/colors.scss' as colors;

.info-container {
  width: 100%;
  margin: 1rem;
  background: colors.$bg-paper;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  overflow: hidden;

  h3 {
    text-align: start;
    font-weight: 600;
    color: colors.$primary-900;
    margin: 1.5rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    td {
      padding: 0.5rem 1rem;
      border-bottom: 1px solid colors.$border-light;
    }

    .label {
      color: colors.$neutral-800;
      width: 40%;
    }

    .value {
      color: colors.$neutral-500;
    }
  }
}
